/* Règles pour les écrans de smartphones */
@media (max-width: 600px) {
    .animated-text {
      font-size: 9vw;
    }
    .presentation-text {
      font-size: 9.5vw;
      color: green;
    }
  }
  