/* index.css */

/* Importation des bases Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importation de la police Gloria Hallelujah */
@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('./fonts/GloriaHallelujah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Classe pour Gloria Hallelujah */
.font-gloria {
  font-family: 'Gloria Hallelujah', cursive;
}

/* Classe pour Merriweather Sans */
.font-merriweather {
  font-family: 'Merriweather', sans-serif;
}

/* Variables de couleur personnalisées */
:root {
  --neon-blue: #3366ff;
  --rose-pink: #ff66cc;
  --icterine: #ffff66;
  --screamin-green: #66ff66;
  --light-blue: #add8e6;
  --custom-red: #ff0000;
  --custom-blue: #0000ff;
}

/* Typographie du site */
body {
  @apply bg-slate-200;

}
