/* index.css */

/* Importation des bases Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importation de la police Gloria Hallelujah */
@font-face {
  font-family: 'Gloria Hallelujah';
  src: url('./fonts/GloriaHallelujah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Classe pour Gloria Hallelujah */
.font-gloria {
  font-family: 'Gloria Hallelujah', cursive;

}

/* Classe pour Merriweather Sans */
.font-merriweather {
  font-family: 'Merriweather', sans-serif;
}

/* Variables de couleur personnalisées */
:root {
  --neon-blue: #3366ff;
  --rose-pink: #ff66cc;
  --icterine: #ffff66;
  --screamin-green: #66ff66;
  --light-blue: #add8e6;
  --custom-red: #ff0000;
  --custom-blue: #0000ff;
}

/* Typographie du site */
body {
  @apply bg-slate-200;

}

/* Classe pour texte de couleur personnalisée */
.text-custom-blue {
  color: var(--custom-blue);
}

/* Classe pour surlignage rouge */
.underline-red {
  text-decoration: underline;
  text-decoration-color: var(--custom-red);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;

}

/* composant Note.js */

.note-appreciation-container {
  display: flex;
  align-items: center;
  margin-left: 8rem;
  margin-right: 2rem;
  width: calc(100% - 6rem);
  /* Ajustement pour tenir compte des marges */
  border-top: 3px solid var(--custom-red);
  border-bottom: 3px solid var(--custom-red);
  box-sizing: border-box;
  height: 130px;
  position: relative;
}

.note-title-container {
  width: 14rem;
  /* Largeur fixe pour la partie gauche */
  display: flex;
  flex-direction: column;
  /* Affichage en colonne */
  align-items: center;
  /* Alignement centré */
  padding-left: 1rem;
  /* Espacement à gauche */
  position: relative;
  border-left: 3px solid var(--custom-red);
  border-right: 3px solid var(--custom-red);
  overflow: hidden;
  /* Assurez-vous que rien ne dépasse */
  justify-content: center;
  height: 130px;
}

.note-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* Utiliser toute la largeur disponible */
}

.note-value {
  font-size: 3rem;
  /* Augmentez la taille de la police */
  color: var(--custom-red);
  position: absolute;
  top: 0;
  left: 30;
  margin: 20px;

}

.max-note {
  font-size: 3rem;
  color: var(--custom-red);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  /* Espacement par rapport au bord */
}

.note-text-container {
  flex-grow: 1;
  /* Utilisation du reste de l'espace disponible */
  display: flex;
  align-items: center;
  /* Alignement vertical centré */
  padding-left: 1rem;
  /* Espacement à gauche */
  color: var(--custom-red);
}

/* Style de la section  */

.section {
  margin-left: 9rem;
  /* Alignement avec la marge */
  margin-right: 2rem;
  /* Ajustement pour qu'il ne dépasse pas */
  width: calc(100% - 6rem);
  /* Ajustement pour tenir compte des marges */
  box-sizing: border-box;
  height: 130px;
  position: relative;
}

.question {
  margin-top: 38px;
  margin-left: 0.5rem;
  font-weight: 800;
}

.reponse {
  white-space: pre-wrap;
  /* Permet de gérer les retours à la ligne */
  overflow-wrap: break-word;
  /* Permet de casser les mots trop longs */
  overflow: hidden;
  /* Masque le débordement de texte */
  line-height: 2.3rem;
  /* Ajouter de l'espace entre les lignes */
  width: calc(100% - 2rem);
  color: var(--custom-blue);
}

.highlight {
  /* Surlignage jaune fluo et transparent */
  border-radius: 2px;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, var(--icterine) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.highlightgreen {
  /* Surlignage vert fluo et transparent */
  border-radius: 2px;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.2s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, var(--screamin-green) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

/* highlight sketch */
.realistic-marker-highlight {
  position: relative;
}

.realistic-marker-highlight:before {
  content: "";
  background-color: #ff6db7;
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 0.1em;
  padding: 0 0.25em;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}


/* Section projet */
.projets {
  margin-top: 10px;
}

.projet {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.projet-nom {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  /* Ajoute un espacement entre le nom et la description */
  position: relative;
  /* Nécessaire pour le positionnement de l'élément ::after */
  display: inline-block;
  /* Nécessaire pour que le pseudo-élément prenne toute la largeur du texte */
  text-decoration: underline;
  text-decoration-color: var(--rose-pink);
  text-decoration-thickness: 0.2em;
  /* Ajustez l'épaisseur de la ligne */
  text-underline-offset: 0.2em;
}

.projet-description {
  white-space: pre-wrap;
  /* Permet de gérer les retours à la ligne */
  overflow-wrap: break-word;
  /* Permet de casser les mots trop longs */
  overflow: hidden;
  /* Masque le débordement de texte */
  line-height: 2rem;
  /* Ajouter de l'espace entre les lignes */
  width: calc(100% - 2rem);
  color: var(--custom-blue);
}

.projet-image {
  width: 150px;
  /* Ajustez cette valeur selon vos besoins */
  height: 100px;
  /* Ajustez cette valeur selon vos besoins */
  object-fit: cover;
  /* Pour que l'image s'ajuste dans le cadre sans être déformée */
  margin-right: 10px;
  /* Espacement entre l'image et la description */
  border-radius: 12px;
}

.projet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centrage vertical des éléments */
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Deux colonnes pour les deux feuilles */
  gap: 2rem;
  /* Espacement entre les colonnes */
}

/* App container to hold the papers */
.paper-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* feuille par page */
.paper-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.arrow.right {
  right: 1rem;
}

.arrow.left {
  left: 1rem;
}

/* Style de la page de l'exercice 4 */
.contact-form {
  display: flex;
  flex-direction: column;
  font-family: 'Gloria Hallelujah', cursive;
  color: var(--custom-blue);
}

.form-group {
  margin-bottom: 1.5rem;
  /* Ajoute plus d'espace entre les groupes de formulaires */
}

label {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.user-name-input,
.email-input {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
  width: 50%;
  /* Réduit la largeur des inputs */

}

.message-input {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
  height: 150px;
  /* Augmente la hauteur du textarea */
}

.sketchy {
  display: inline-block;
  border: 3px solid var(--custom-blue);
  font-size: 2.5rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;

  position: relative;
}

.sketchy::before {
  content: '';
  border: 2px solid #353535;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.submit-button {
  padding: 1rem;
  background-color: var(--screamin-green);
  border: 2px solid var(--screamin-green);
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  color: #fff;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  width: 30%;
  /* Diminue la largeur du bouton de soumission */
  align-self: center;
}

.submit-button-note {
  padding: 0.2rem;
  background-color: var(--screamin-green);
  border: 2px solid var(--screamin-green);
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  color: #fff;
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  width: 10%;
  /* Diminue la largeur du bouton de soumission */
  align-self: center;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: var(--screamin-green);
}

/* Style de l'arrow du carousel  */

.custom-next-arrow {
  background: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-prev-arrow {
  background: blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* style du numero de page */

.custom-page-number {
  font-family: 'Gloria Hallelujah';
  font-size: 32px;
  font-weight: 500;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid var(--custom-red);
  display: flex;
  justify-content: center;
}

/* Page d'unboarding */

.presentation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.presentation-content {
  max-width: 600px;
  font-family: 'Merriweather';
}

.animated-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid var(--rose-pink); /* Couleur du curseur */
  font-family: 'Merriweather';
  font-size: 3vw; /* Taille de la police réactive */
}

.button-text {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--neon-blue);
  border: none;
  color: #fff;
  font-size: 3vw; 
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-family: 'Gloria Hallelujah';
  border-radius: 12px;
}

button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

.presentation-text{
  font-size: 2.5vw; /* Taille de la police réactive */
}

/* Media queries pour ajuster la taille de la police sur différents écrans */
@media (max-width: 768px) {
  .animated-text {
    font-size: 8vw;
  }

  button {
    font-size: 4vw;
  }

  p {
    font-size: 3.5vw;
  }
}

@media (max-width: 480px) {
  .animated-text {
    font-size: 10vw;
  }

  button {
    font-size: 5vw;
  }

  p {
    font-size: 4.5vw;
  }
}

/* responsive de paper */
/* Styles généraux */
.paper-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Agrandir la feuille sur les petits écrans */
@media (max-width: 1024px) {
  .paper-container {
    max-width: 900px;
    padding: 15px;
  }

  .slick-slide {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .paper-container {
    max-width: 100%;
    padding: 10px;
    transform: scale(1.2); /* Agrandir la feuille */
  }

  .slick-slide {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .paper-container {
    max-width: 100%;
    padding: 5px;
    transform: scale(1.5); /* Agrandir la feuille encore plus */
  }

  .slick-slide {
    padding: 5px;
  }
}
